
<!--
<div [ngStyle]="{'background': config.fondo,
                  'padding': '20px',
                  'border': '5px solid black',
                  'border-color': config.color 

                  }">

<div>

  
  --> 

<h1>
    Routing Application - app.component.html
</h1>

 

  <!-- <videojuego></videojuego> -->
  <!--<zapatilla></zapatilla> -->

  <nav>
    <a [routerLink]="['/']">Home</a>
    &nbsp;
    <a [routerLink]="['/zapatilla']">Zapatillas</a>
    &nbsp;
    <a [routerLink]="['/videojuego']">Videojuegos</a>
    &nbsp;
  </nav>

  <!-- Cargo esto para derivar las rutas -->
  
  <router-outlet></router-outlet>

<!-- </div> -->
